{
  "base": {
    "project": "Wikipedia App Tests",
    "environment": "BrowserStack",
    "comment": "device: ${DEVICE_NAME}, platform: Android ${PLATFORM_VERSION}",
    "reportLink": "${BUILD_URL}",
    "language": "en",
    "messenger": "telegram",
    "allureFolder": "allure-report/",
    "enableChart": true
  },
  "telegram": {
    "token": "*****",
    "chat": "*****",
    "replyTo": ""
  }
}
